* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
}

ul {
  list-style-type: none;
}

.container {
  width: 90%;
  margin: auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__items {
  display: flex;
  justify-content: space-between;
}

.navigation__item {
  list-style: none;
}

.navigation__item a {
  text-decoration: none;
  color: inherit;
  padding: 11px 40px;
}

.navigation__item a:active {
  text-decoration: none;
  color: #0065fc;
  font-weight: bold;
  border-top: 2px solid #0065fc;
}

.subscribe {
  color: #0065fc;
  font-weight: bold;
}

.search__options {
  margin-top: 50px;
}

.slogan {
  margin-bottom: 10px;
  font-weight: bold;
}

.search__input {
  padding: 15px 25px;
  font-weight: bold;
  border-color: #f2f2f2;
  height: 35px;
  color: black;
  margin-right: 0px;
  outline: none;
  border: none;
  border: solid #f2f2f2;
  border-width: 1px 0px 1px 1px;
}

.search__form {
  margin-top: 15px;
  display: flex;
}

.search__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 0 10px 10px 0;
  width: 40px;
}

.search__icon__marker {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
  width: 40px;
}

.search__button {
  position: relative;
  left: -20px;
  height: 35px;
  margin: 0;
  background-color: #0065fc;
  color: white;
  font-weight: bold;
  padding: 0 12px;
  cursor: pointer;
  outline: none;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  vertical-align: center;
}

.search__filters {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
}

.search__filters_label {
  font-weight: bold;
  margin: 10px 10px 0 0;
}

.search__filters__option {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 15px;
  -webkit-box-shadow: inset 0px 0px 0px 2px #f2f2f2;
  -moz-box-shadow: inset 0px 0px 0px 2px #f2f2f2;
  -box-shadow: inset 0px 0px 0px 2px #f2f2f2;
  text-align: center;
  border-radius: 20px;
  font-weight: bold;
  margin: 10px 10px 0 0;
}

.search__filters__option:hover {
  background-color: #deebff;
  color: #0065fc;
  -webkit-box-shadow: inset 0px 0px 0px 2px rgb(222, 235, 255);
  -moz-box-shadow: inset 0px 0px 0px 2px rgb(222, 235, 255);
  -box-shadow: inset 0px 0px 0px 2px rgb(222, 235, 255);
  cursor: pointer;
}

.filter__icon {
  margin-right: 10px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  color: #0065fc;
  background-color: #deebff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.info__icon {
  font-size: 12px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid #f2f2f2;
  color: #0065fc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.results {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  margin: 35px 0 20px 0;
}

.results__group {
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 25px;
  margin-top: 20px;
}

.results__main {
  width: 63%;
}

.results__popular {
  width: 35%;
}

.results__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  min-width: 100%;
  margin: 0 auto;
}

.results__item {
  width: 31%;
  min-width: 240px;
  background-color: white;
  border: 5px solid white;
  box-shadow: 2px 2px 10px #cccccc;
  border-radius: 20px;
  margin: 15px 0 15px 0;
}

.results__item__image {
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 110px;
}

.results__item__description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 45%;
  padding: 5px;
}

.display__label {
  margin-top: 20px;
}

.star-blue {
  color: #0065fc;
}

.star-grey {
  color: #cccccc;
}

.results__popular__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.results__item__popular {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 170px;
  border: 5px solid white;
  box-shadow: 2px 2px 10px #cccccc;
  border-radius: 20px;
  margin-top: 15px;
  background-color: white;
}

.results__item__image__popular {
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 100%;
  width: 40%;
  margin-right: 15px;
}

.results__item__description__popular {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.results__item__description__popular__basic__info {
  margin-top: 10px;
}

.results__item__popular__rating {
  margin-bottom: 10px;
}

.activities {
  margin-top: 50px;
}

/* Footer */

footer {
  background-color: #f2f2f2;
  padding: 30px;
}

.footer__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 70%;
}

.footer_item {
  margin: 10px 0;
}

.footer__links {
  margin-top: 20px;
}

.footer__items li:not(:last-child) {
  margin-bottom: 10px;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  text-decoration: underline;
}

/* Activities */

.activities {
  height: 500px;
}

.activities__items {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.activities__item__box {
  width: 23%;
  height: 400px;
  /* border: 1px solid red; */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activities__item__full,
.activities__item__half {
  border-radius: 20px;
  /* border: 1px solid blue; */
  box-shadow: 2px 2px 10px #cccccc;
}

.activities__item__full {
  height: 100%;
}

.activities__item__half {
  height: 45%;
}

.activities__image__big {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 90%;
}

.activities__image__small {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 80%;
}

.activities__title__big,
.activities__title__small {
  display: flex;
  align-items: center;
  padding: 15px;
}

.activities__title__big {
  height: 10%;
}

.activities__title__small {
  height: 20%;
}

#vieux__port {
  background: url("./assets/images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
}

#pomegues {
  background: url("./assets/images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
}

#frioul {
  background: url("./assets/images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
}

#calanques {
  background: url("./assets/images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
}

#lagarde {
  background: url("./assets/images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
}

#longchamp {
  background: url("./assets/images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
}

.fa-search {
  display: none;
}

/* MEDIA QUERIES */

@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  footer {
    padding: 20px;
  }

  .container {
    width: 95%;
  }

  .search__label {
    display: none;
  }

  .fa-search {
    display: block;
  }

  .search__button {
    border-radius: 10px;
  }

  .search__filters_label {
    margin-right: 100%;
  }

  .search__filters__option {
    margin-top: 10px;
  }

  .results__group {
    width: 100%;
  }

  .results__main {
    background-color: transparent;
  }
}
