* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;;
}

body {
}

.container {
    max-width: 80%;
    margin: auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__items {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.navigation__item {
    list-style: none;
}

.navigation__item a {
    text-decoration: none;
    color: inherit;
    padding: 11px 40px;
}

.navigation__item a:active {
    text-decoration: none;
    color: #0065FC;
    font-weight: bold;
    border-top: 2px solid #0065FC;
}

.subscribe {
    color: #0065FC;
    font-weight: bold;
}

.search__options {
    margin-top: 50px;
}

.slogan {
    margin-bottom: 10px;
    font-weight: bold;
}

.search__input {    
    padding: 15px 25px;
    font-weight: bold;
    border-color: #F2F2F2;
    height: 35px;
    width: 300px;
    color: black;
    margin-right: 0px;
    outline: none;
    border: none;
    border: 1px solid #F2F2F2;
}

.search__form {
    margin-top: 15px;
    display: flex;
}

.search__icon {
    background-color: #F2F2F2;
    padding: 9px 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.search__button {
    /* position: relative;
    left: -5px; */
    height: 35px;
    margin: 0;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    padding: 0 15px;
    cursor: pointer;
    outline: none;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    vertical-align: center;
}

.search__filters {
    width: 900px;;
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    width: 800px;
    flex-wrap:wrap
}

.search__filters__options {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search__filters_label {
    font-weight: bold;
}

.search__filters__option {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 15px;
    border: 1px solid #F2F2F2;
    text-align: center;;
    border-radius: 20px;
    font-weight: bold;
}

.search__filters__option:hover {
    background-color: #DEEBFF;
    color: #0065FC;
    cursor: pointer;
}

.filter__icon {
    margin-right: 10px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    color: #0065FC;
    background-color:#DEEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.info__icon {
    font-size: 12px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid #F2F2F2;
    color:#0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}