* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;;
}

body {
}

ul {
    list-style-type: none;
}

.container {
    max-width: 80%;
    margin: auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__items {
    display: flex;
    justify-content: space-between;
}

.navigation__item {
    list-style: none;
}

.navigation__item a {
    text-decoration: none;
    color: inherit;
    padding: 11px 40px;
}

.navigation__item a:active {
    text-decoration: none;
    color: #0065FC;
    font-weight: bold;
    border-top: 2px solid #0065FC;
}

.subscribe {
    color: #0065FC;
    font-weight: bold;
}

.search__options {
    margin-top: 50px;
}

.slogan {
    margin-bottom: 10px;
    font-weight: bold;
}

.search__input {    
    padding: 15px 25px;
    font-weight: bold;
    border-color: #F2F2F2;
    height: 35px;
    width: 300px;
    color: black;
    margin-right: 0px;
    outline: none;
    border: none;
    border: 1px solid #F2F2F2;
}

.search__form {
    margin-top: 15px;
    display: flex;
}

.search__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 40px;
}

.search__button {
    height: 35px;
    margin: 0;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    padding: 0 15px;
    cursor: pointer;
    outline: none;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    vertical-align: center;
}

.search__filters {
    width: 900px;;
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    width: 800px;
    flex-wrap:wrap
}

.search__filters__options {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search__filters_label {
    font-weight: bold;
}

.search__filters__option {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 15px;
    border: 1px solid #F2F2F2;
    text-align: center;;
    border-radius: 20px;
    font-weight: bold;
}

.search__filters__option:hover {
    background-color: #DEEBFF;
    color: #0065FC;
    cursor: pointer;
}

.filter__icon {
    margin-right: 10px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    color: #0065FC;
    background-color:#DEEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.info__icon {
    font-size: 12px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid #F2F2F2;
    color:#0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.results {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.results__group {
    height: 640px;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 25px;
}

.results__main {
    width: 63%;
}

.results__popular {
    width: 35%;
}

.results__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
    min-width: 100%;
    height: 350px;
    margin: 0 auto;
}

.results__item {
    height: 60%;
    width: 240px;
    background-color: white;
    border: 5px solid white;
    box-shadow: 2px 2px 10px #cccccc;
    border-radius: 20px;
    margin-top: 15px;
}

.results__item__image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 60%;
}

.results__item__description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 45%;
    padding: 5px;
}

.star-blue {
    color: #0065FC;;
}

.star-grey {
    color:  #cccccc;
}

.results__popular__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.results__item__popular {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 170px;
    border: 5px solid white;
    box-shadow: 2px 2px 10px #cccccc;
    border-radius: 20px;
    margin-top: 15px;   
    background-color: white;
}

.results__item__image__popular {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 100%;
    width: 40%;
    margin-right: 15px;
}

.results__item__description__popular {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.results__item__description__popular__basic__info {
    margin-top: 10px;
}

.results__item__popular__rating {
    margin-bottom: 10px;
}

.footer {
    background-color: #F2F2F2;
    margin-top: 50px;
    padding: 50px;
}

.footer__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 75%;
}

.footer__links {
    margin-top: 20px;;
}

.footer__items li:not(:last-child) {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.footer a:hover {
    text-decoration: underline;
}