*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url("./assets/img/nature.jpg");
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  color: #555;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 30%;
}

nav a:hover {
  color: #fff;
}

.logo:hover {
  color: #fff;
  cursor: pointer;
}

li a {
  text-decoration: none;
  color: inherit;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
  color: #555;
  font-size: 50px;
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  padding: 0;
  height: 25%;
  background-color: #242729;
  color: #fff;
}

footer li {
  margin: 5px 0;
}

.footer-list {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.footer-sublist {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
}
